### FRONTEND ###
# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# environment variables
/frontend/.env
/frontend/.env.production

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

### BACKEND ###
# dependencies
/backend/node_modules

# environment variables
/backend/nodemon.json

# AWS server configuration misc
/backend/app.zip 
/backend/.npmrc

