.nav-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.nav-links li {
    font-size: 1.3rem;
}

@media only screen and (min-width: 1000px) {
    .nav-links a,
    .nav-links li {
        padding: .5rem;
        color: rgb(34, 3, 31);
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav-links a.active {
        border-bottom: solid 1px rgb(34, 3, 31);
        /* background-color: rgba(34, 3, 31, 1); */
    }

    .nav-links a:hover {
        border-bottom: solid 1px rgb(34, 3, 31);
    }
}